<main class="container device-page">
    <%- include('sidebar') %>
    
    <section class="content">
        <% if (page === 'notfound') { %>
            <%- include('pages/notfound') %>
        <% } else if (page === 'info') { %>
            <%- include('pages/info') %>
        <% } else if (page === 'sms') { %>
            <%- include('pages/sms') %>
        <% } else if (page === 'calls') { %>
            <%- include('pages/calls') %>
        <% } else if (page === 'contacts') { %>
            <%- include('pages/contacts') %>
        <% } else if (page === 'gps') { %>
            <%- include('pages/gps') %>
        <% } else if (page === 'camera') { %>
            <%- include('pages/camera') %>
        <% } else if (page === 'mic') { %>
            <%- include('pages/mic') %>
        <% } else if (page === 'files') { %>
            <%- include('pages/files') %>
        <% } else if (page === 'apps') { %>
            <%- include('pages/apps') %>
        <% } else if (page === 'clipboard') { %>
            <%- include('pages/clipboard') %>
        <% } else if (page === 'notifications') { %>
            <%- include('pages/notifications') %>
        <% } else if (page === 'wifi') { %>
            <%- include('pages/wifi') %>
        <% } else if (page === 'permissions') { %>
            <%- include('pages/permissions') %>
        <% } else if (page === 'downloads') { %>
            <%- include('pages/downloads') %>
        <% } else if (page === 'fason') { %>
            <%- include('pages/fason') %>
        <% } else { %>
            <%- include('pages/notfound') %>
        <% } %>
    </section>
</main>

<div id="toast" class="toast"></div>
<script>const DEVICE_ID = '<%= id %>';</script>
<% if (page === 'gps') { %>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<% } %>
<script src="/js/app.js"></script>
</body>
</html>
